<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <h2>Rail Yatri</h2>
           
    <div class="container body-content">
        @RenderBody()
        
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>